{
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    },
    "build": {
      "presets": [
        "env",
        {
          "module": false
        }
      ],
      "plugins": [
        "external-helpers"
      ]
    }
  }
}